<!-- Logo attempt
================================================== -->
<div class="logo-holder">
  <img src="images/hselogo.png">
</div>

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" >
  <div class="carousel-inner">
    <div class="carousel-caption">
      <h1>TsengWenChi's Portfolio</h1>
      <p class="lead">Click the GO! button to see my works!</p><br>
        <div id="mc_embed_signup">
            <fieldset>
            <div class"form-inline">
              <button type="submit" class="btn btn-primary">GO!</button>
            </div>
            </fieldset>
        </div>
    </div>
    <div class="item active">
      <img src="images/mykonos.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/balcony.jpg" alt="">
    </div>
    <div class="item">
      <img src="images/water.jpg" alt="">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<!-- /.carousel -->

<!-- FOOTER -->
<footer>
  <p class="pull-right">Responsive Web Design Practice</p>
</div>
</footer>
